<!-- require APlayer -->
<link href="https://cdn.bootcdn.net/ajax/libs/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
<script src="https://cdn.bootcdn.net/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
<!-- require MetingJS -->
<script src="/static/js/Meting.min.js"></script>

<!-- metingjs 加载参数： https://github.com/metowolf/MetingJS -->
<meting-js
	server="{{ page.server }}"
	type="{{ page.type }}"
	id="{{ page.musicid }}"
    order="random"
	autoplay="ture"
    volume="0.35"
	theme="{{page.theme}}">
</meting-js>