<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body>

{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">
    <span>{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</span>
    {%- if site.extCount %}
      <span>浏览量：</span>
      <span id="busuanzi_value_page_pv"></span>
    {% endif %}
  </div>
  {% endif %}

  <!-- Post Container -->
  <div class="post-container">
    <!-- metingJS 加载 -->
    {% if page.musicid %}
        {% include music.html %}
    {% endif %}

    {{ content }}
  
    {% if site.reward %}
    <div class="reward">
        <div class="reward-button">赏<span class="reward-code">
            <span class="alipay-code"> <img class="alipay-img wdp-appear" src="{{ site.baseurl }}{{ site.reward-alipay }}"><b>支付宝打赏</b> </span>
            <span class="wechat-code"> <img class="wechat-img wdp-appear" src="{{ site.baseurl }}{{ site.reward-wechat }}"><b>微信打赏</b> </span> </span>
        </div>
        <p class="reward-notice">您的打赏是对我最大的鼓励！</p>
    </div>
    {% endif %}
    {% if site.extAdsense -%}
    <div class="adsense" style="overflow: hidden;">
      {% include ext-adsense.html -%}
    </div>
    {% endif %}
  </div>
</div>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>